.catalog__title {
  margin: 0;
  margin-left: -4px;
  padding-top: 78px;
  padding-bottom: 108px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;

  background-color: #eeeeee;
}
