.description__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.description__service-title,
.description__us {
  font-weight: 700;
  text-transform: uppercase;
}

.description__service-list {
  list-style: none;
}
