.features {
  list-style: none;
}

.features__value {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.features__percent {
  font-weight: 700;
  font-size: 23px;
  vertical-align: 15px;
}
