.header {
  text-transform: uppercase;

  background-color: #eeeeee;
}

.header__logo {
  margin-right: 200px;
}

.header a {
  color: @textColor;

  &:hover,
  &:focus {
    color: @linkHover;
  }

  &:active {
    color: @linkActive;
  }
}
