.our-works__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 50px 30px;
  list-style: none;
}

.our-works__item {
  margin-right: 110px;

  &:last-of-type {
    margin-right: auto;
  }
}
