.page-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;

  &--header {
    display: flex;
    align-items: center;
  }

  &--services {
    border-bottom: 2px solid #eeeeee;
    padding: 0;
  }
}
