.slider__list {
  list-style: none;
}

.slider__link {
  display: block;
  padding: 18px 0;
  width: 240px;
}

.slider__title {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
