.slider {
  background-color: #eeeeee;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  &--slide1 {
    background: transparent url("../img/slide1.png") no-repeat 431px 18px;
  }

  &--slide2 {
    background: transparent url("../img/slide2.png") no-repeat 496px 2px;
  }

  &--slide3 {
    background: transparent url("../img/slide3.png") no-repeat 401px 19px;
  }
}

.slider__description {
  padding-top: 78px;
  padding-bottom: 80px;
}

.slider__link {
  display: block;
  margin-top: 39px;
  padding: 16px 0;
  width: 240px;

  &--slide2 {
    margin-top: 40px;
  }
}

.slider__title {
  display: block;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  &--slide1 {
    width: 380px;
  }

  &--slide2 {
    width: 530px;
  }

  &--slide3 {
    width: 425px;
  }
}

.slider__text {
  margin: 0;
  margin-top: 26px;

  &--slide1 {
    width: 370px;
  }

  &--slide2 {
    width: 415px;
  }

  &--slide3 {
    width: 345px;
  }
}

.slider__btn:checked + .slider__control::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;

  display: block;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.slider__control {
  position: absolute;
  top: 431px;

  display: block;
  border-radius: 50%;
  width: 18px;
  height: 18px;

  background-color: #ffffff;

  &--slide1 {
    left: 676px;
  }

  &--slide2 {
    left: 711px;
  }

  &--slide3 {
    left: 746px;
  }
}
