.slider {
  background-color: #eeeeee;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__description {
  width: 380px;
}

.slider__link {
  display: block;
  padding: 18px 0;
  width: 240px;
}

.slider__title {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider__image-container {
  display: flex;
  align-items: flex-end;
  height: 430px;
  width: 760px;
}
