.sort {
  margin-left: auto;
  width: 760px;
}

.sort__type,
.sort__value,
.sort__progects,
.sort__paginator {
  padding: 0;

  list-style: none;
}

.sort__header,
.sort__type,
.sort__value {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
}

.sort__title {
  margin: 0;
  margin-top: 3px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__type {
  margin-top: 4px;
  margin-left: 266px;
}

.sort__type li:not(:first-child) {
  margin-left: 25px;
}

.sort__link {
  display: block;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__link:not(.sort__link--active) {
  color: fade(#283136, 30%);
}

.sort__link:hover:not(.sort__link--active),
.sort__link:focus:not(.sort__link--active) {
  color: fade(#283136, 60%);
}

.sort__link:active:not(.sort__link--active) {
  color: #283136;
}

.sort__value {
  margin-left: 50px;
}

.sort__progects {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-column-gap: 40px;
  grid-row-gap: 73px;
  margin-top: 96px;
  margin-bottom: 0;
}
